<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
   
    
    
</head>
<body>
    <h1>Upload a PDF File</h1>
    <div class="div_form2"> 
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="file">Choose a PDF:</label>
        <input type="file" id="file" name="file" accept=".pdf" required>
        <button type="submit">Upload</button>
    </form>
</div>
</body>
</html>